{% extends 'AlexPizzaBundle::layout.html.twig' %}

{% block content %}

{% block body -%}
<h1>Pizza</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Naam</th>
            <td>{{ entity.naam }}</td>
        </tr>
        <tr>
            <th>Omschrijving</th>
            <td>{{ entity.omschrijving }}</td>
        </tr>
        <tr>
            <th>Basisprijs</th>
            <td>{{ entity.basisprijs }}</td>
        </tr>
        <tr>
            <th>Extras</th>
                <td>
                {% for extras in entity.extras %}
                {{ extras }}
                {% endfor %} 
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('pizza') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('pizza_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
{% endblock %}
