{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Details list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aantal</th>
                <th>Prijs</th>
                <th>Promotie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('details_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.aantal }}</td>
                <td>{{ entity.prijs }}</td>
                <td>{{ entity.promotie }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('details_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('details_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('details_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
