{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Details</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Aantal</th>
                <td>{{ entity.aantal }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ entity.prijs }}</td>
            </tr>
            <tr>
                <th>Promotie</th>
                <td>{{ entity.promotie }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('details') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('details_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
